# .coveragerc to control coverage.py
[run]
branch = True
omit =
    /venv/*
    *__init__.py
    */test*
    */archive/
    */logger.py
    */ocr.py

source = /src
    
[report]
omit =
    /venv/*
    *__init__.py
    */test*
    */archive/
    */ready.py
    */logger.py
    */ocr.py
