aiohttp==3.8.5
async-timeout==3.0.1
atomicwrites==1.4.0
attrs==21.2.0
certifi==2023.7.22
chardet==4.0.0
charset-normalizer==2.0.4
colorama==0.4.4
coverage==5.5
discord.py==1.7.3
et-xmlfile==1.1.0
idna==3.2
iniconfig==1.1.1
multidict==5.1.0
numpy==1.22.0
opencv-python-headless==4.8.1.78
packaging==21.0
Pillow==10.0.1
pluggy==1.0.0
py==1.10.0
pyparsing==2.4.7
pytesseract==0.3.8
pytest==6.2.5
pytest-asyncio==0.15.1
python-dotenv==0.19.0
requests==2.31.0
toml==0.10.2
typing-extensions==3.10.0.2
urllib3==1.26.18
yarl==1.6.3
